$base__font: 'Helvetica Neue', Helvetica, sans-serif;
$base__font-size: 62.5%;

$color__base: #C0392B;
$color__base--light: #E74C3C;
$color__base--darker: #34495E;
$color__background: #BDC3C7;
$color__background--light: #F7F7F7;
$color__background--dark: #95A5A6;
