@import 'base';

$grid__columns--number: 8;

// set the width/max-width of our inner content

.grid {
  width: 100%;
  max-width: 120rem;
}


// do not let content overflow onto other rows

.grid__row:before,
.grid__row:after {
  content: '';
  display: table;
  clear: both;
}

// by floating we are able to position coluns side
// by side. With a small min-height we have a
// guarantee that things won't stack on top of
// each other.

@mixin col($index) {
  float: left;
  min-height: .1rem;

  width: ($index * (100 / $grid__columns--number)) * 1%;

  // @if $index % 2 {
  //   padding-right: 1.2rem;
  // } @else {
  //   padding-left: 1.4rem;
  // }
  padding: 1.2rem;
}


@for $i from 1 through $grid__columns--number {
  .grid__col--#{$i} {
    @include col($i);
  }
}

@media all and (max-width:800px){
  @for $i from 1 through $grid__columns--number {
    .grid__col--#{$i} {
      width: 100%;
    }
  }
}
