@import 'base';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: $base__font-size;
}

body {
  font-family: $base__font;
}

body {
  margin: auto;
  width: 60rem;
}

@media (max-width: 630px) {
  body {
    width: 36rem;
  }
}

@media (min-width: 1000px) {
  body {
    width: 80rem;
  }
}

main > section {
  margin-top: 5rem;
}

code {
  background-color: $color__background--light;
  font-size: 1.8rem;
  color: $color__base;
  padding: 0.4rem;
  line-height: 1.9;
  border-radius: 0.5rem;
  overflow: auto;
}

pre {
  font-size: 2rem;
  padding: 1rem;
  border-radius: .4rem;
  overflow: auto;
}

footer {
  p {
    padding: 2.4rem;
    text-align: center;
    background: $color__base--light;
    position: absolute;
    color: white;
    margin: 3rem 0 0 0;
    height: 6.3rem;
    width: 100%;
    right: 0;

    a {
      color: white;
    }
  }
}
