@import 'base';

@mixin text($fsize, $margint, $marginb, $color, $weight: normal) {
  font-size: $fsize;
  margin-top: $margint !important;
  margin-bottom: $marginb !important;
  color: $color;
  font-weight: $weight;
}

header {
  h1, h2, h3 {
    text-align: center;
    margin: auto;
    width: 30rem;
  }
}

h1 {
  @include text(4rem, 5rem, 2rem, $color__base, bolder);
}

h2 {
  @include text(2.4rem, 1rem, 3rem, $color__base--light, bold);
}

h3 {
  @include text(2rem, .5rem, .5rem, $color__base--light, bold);
}

a {
  color: $color__base--light;
  text-decoration: none;
}

p {
  color: $color__base--darker;
  font-size: 1.8rem;
}
